version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=aforro_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/aforro_db
      - CELERY_BROKER_URL=redis://redis:6379/0

  worker:
    build: .
    command: celery -A project worker -l info
    volumes:
      - .:/app
    depends_on:
      - web
      - redis
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/aforro_db
      - CELERY_BROKER_URL=redis://redis:6379/0

volumes:
  pg_data: